body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote{   
    padding: 0;   
    margin: 0;   
}
fieldset,img {   
    border: 0;   
}   
address,caption,cite,code,dfn,em,strong,var {   
    font-weight: normal;   
    font-style: normal;   
}   
ol,ul {   
    list-style: none;   
}   
caption {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {   
    content:'';   
}   
abbr,acronym { border: 0;   
}

/*全站共用*/
.clearfix:after {
content: ".";
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.clearfix{display:inline-block;}
* html .clearfix {height: 1%;}
.clearfix{display: block;}
.show{display:block;}
.hide{display:none;}

.fs14{font-size:14px;}
.txtRed{color:red;}
.txtBlack{color:black}
.txtGray{color:gray}

.b_b_1{border-bottom:1px solid #CCCCCC;}
.b_b_2{border-bottom:3px solid #CCCCCC;}

.p10{padding:10px;}
.tr{text-align:right}

body{
	font-size:12px;
	font-family:"宋体", Arial;
}
a{
	text-decoration:none;
	color:#666666;
}
a:hover{
	text-decoration:underline;
}
.wrap{
	width:900px;
	margin:0 auto;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}
.wrap_noborder{
	width:900px;
	margin:0 auto;
}

.header{
}
#nav{
	background:url(../images/nav.gif) repeat-x;
	height:34px;
}
#nav ul{
	line-height:34px;
}
#nav ul li{
	float:left;
	width:76px;
	text-align:center;
	letter-spacing:2px;
}
#nav a{
	color:#000;
}
.nav_li_1{
	background:url(../images/nav_1.gif) no-repeat;
}
.nav_li_2{
	background:url(../images/nav_2.gif) no-repeat;
}
.nav_li_3{
	background:url(../images/nav_3.gif) no-repeat;
}
.nav_li_4{
	background:url(../images/nav_4.gif) no-repeat;
}
.nav_li_5{
	background:url(../images/nav_5.gif) no-repeat;
}
.nav_li_6{
	background:url(../images/nav_6.gif) no-repeat;
}
.nav_li_7{
	background:url(../images/nav_7.gif) no-repeat;
}
.backindex{
	float:left;
	margin-left:100px;
	line-height:32px;
	letter-spacing:2px;
	width:84px;
	background:url(../images/backindex.gif) no-repeat 0 10px;
	text-align:center;
}

.con{
	background:url(../images/con_bg.gif) repeat-y;
}

#con_l{
	float:left;
	width:201px;
}
.prolist{
	margin-left:40px;
	letter-spacing:2px;
}
.prolist a{
	color:#006633;
}
.prolist li{
	background:url(../images/prolist_li.gif) no-repeat 10px 5px;
	padding-left:30px;
	border-bottom:1px solid #CCCCCC;
	line-height:22px;
}
#con_main{
	float:left;
	width:699px;
	_width:699px;
	_display:inline;
}
.introduce{
}
.introduce .i_img{
	float:left;
}
.i_content{
	line-height:30px;
	color:#999;
}
.news{
}
.news a{
	color:#666666;
}
.newsb,.productb{
	border:1px solid #EEEEEE;
	margin:5px;
}
.news .title{
	background:url(../images/news.gif) no-repeat 5px 2px;
	height:25px;
	width:200px;
}
.news li{
	width:300px;
	float:left;
	line-height:22px;
	background:url(../images/news_li.gif) no-repeat 10px 8px;
	padding-left:20px;
}

.products span{
	float:right;
	margin-top:5px;
	margin-right:10px;
}
.products dl{
	float:left;
	margin:5px;
	_margin:4px;
	width:205px;
	border:1px #c0c0c0 solid;
	padding:5px;
	_padding:4px;
	_display:inline;
	_overflow:hidden;
	_height:173px;
}
.products dl dd{
	text-align:center;
}
.products dl dt{
	background:url(../images/pro_title_bg.gif) no-repeat 25px 0;
	line-height:22px;
	text-align:center;
}

#footer{
	border-top:1px solid #CCCCCC;
	background-color:#F5F5F5;
	padding:10px 0;
}
.f_logo{
	float:left;
	width:250px;
}
.copyright{
	float:left;
	line-height:25px;
}

/*新闻列表页*/
.news_list{
	padding:8px;
}
.news_list li{
	line-height:25px;
	background:url(../images/n_list.gif) no-repeat 0px 0;
	padding-left:25px;
}
.news_list li span{
	float:right;
}

/*新闻页*/
.news_main{
	padding:10px;
}
.position{
	line-height:22px;
}
.news_title{
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#0066CC;
	border-bottom:1px #999 solid;
	line-height:30px;
}
.news_content{
	line-height:25px;
}

.propic{
	text-align:center;
	padding:10px;
}